<h1>Create New Product</h1>
<div id="message"></div>
<br>
<form onsubmit="productSubmit()">
    <label for="name">Product Name</label>
    <input type="text" id="name" placeholder="Enter Name" pattern="[0-9a-zA-Z\s]+" required>
    <label style="font-size: 12px;color:blue">(Only Enter Text and Number)</label>
    <br>
    <br>
    <label for="brandName">Brand Name</label>
    <input type="text" id="brandName" placeholder="Enter Brand Name" pattern="[0-9a-zA-Z\s]+" required>
    <label style="font-size: 12px;color:blue">(Only Enter Text and Number)</label>

    <br>
    <br>
    <label for="ram">Ram</label>
    <input type="number" id="ram" placeholder="Enter Ram" required min=1>
    <br>
    <br>

    <label for="price">Price(Rs)</label>
    <input type="number" id="price" placeholder="Enter Price" required min=1>
    <br>
    <br>
    <br>
    <button id="submitBtn"> Submit </button>
</form>


<script>

    checkUser();
    function checkUser() {
        let loggedInUser = JSON.parse(localStorage.getItem("LOGGED_IN_USER"));
        if (loggedInUser.role !== "ADMIN") {
            toastr.error("You Are Not Authorized");
            window.setTimeout(function () {
                window.location = "products";
            }, 1500);
        }
    }

    function productAdd(productDetails) {
        console.log("productAdd", productDetails);
        let loggedInUser = JSON.parse(localStorage.getItem("LOGGED_IN_USER"));
        let userId = loggedInUser.id;
        let url = "/api/product/addNew?loggedInUserId=" + userId;
        axios.post(url, productDetails).then(response => {
            let registerData = response;
            console.log(registerData);
            document.querySelector("#message").innerHTML = "Product Added Successfully";
            toastr.success("Product Added Successfully");
            window.location.href = "allproducts";
        }).catch(err => {
            let error = err.response.data.message;
            console.error(error);
            toastr.error(err.response.data.message);
        })

    }
    function productSubmit() {
        event.preventDefault();
        let name = document.querySelector("#name").value;
        let brandName = document.querySelector("#brandName").value;
        let ram = document.querySelector("#ram").value;
        let price = document.querySelector("#price").value;
        let loggedInUser = JSON.parse(localStorage.getItem("LOGGED_IN_USER"));
        let userId = loggedInUser.id;
        let productDetails = { name: name, brandName: brandName, ram: ram, price: price, userId: userId }
        productAdd(productDetails);
        console.log("product details", productDetails);
    }

    $("#header").load("_header.html");

</script>